!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UntitledApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .top
      .top__list
        .top__list--each
          =link_to posts_path do
            1
        .top__list--each
          =link_to new_post_path do
            2
        .top__list--each
          =link_to users_path do
            3
        .top__list--each
          = link_to destroy_user_session_path, method: :delete do
            4
        .top__list--each
          =link_to "/users/#{current_user.id}" do
            5
      = yield
